@import url("https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap");

* {
  padding: 0%;
  margin: 0%;
 
}

:root {
  --primary-dark: rgba(220, 238, 238, 0.479);
  --primary-yellow:# ;
  

}

body {
  background-repeat: no-repeat;
    background-color: #67e8f9;
  
  background-size: cover;
  height:100vh;
}
h1 {
  text-align: center;
  font-family: "Halant", serif;
  color: #e94b3cff;
  font-weight: bolder;
}

.container {
    
  width: 50vh;
  height:75vh ;
    display: flex;
    flex-direction: column;
    justify-content:bottom;
    align-items: center;
    font-family: "Lora", serif;
    background-color:var(--primary-dark);
    color: #272727;
    padding: 1rem 4rem 1rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:auto;
}

.pad{
    padding-bottom: 2rem;
    
}
.spad{
    padding-bottom: 1rem;
}

